
.entete{
  display: flex;
  justify-content: center;
  margin: auto;
  flex-direction: row;
  place-items: center;
  padding: 10px;
  border: 2px solid #BB7676;
  width: fit-content;
  border-radius: 10px;

  .imgBox{


    img{
      width: 100px;
      height: 100px;
      border-radius: 50%;
      margin: 2%;
      object-fit: cover;
    }
  }

  .infos{
    display: flex;
    flex-direction: column;
    margin-left: 20px;

    #nom{
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 0;
    }

    #username{
      font-size: 14px;
      margin-bottom: 0;

    }

    #nbreConseil{
      font-size: 12px;
    }
  }
}

.ras{
  display: flex;
  margin: auto;
  justify-content: center;
  margin-top: 10%;
}

////////
/// profile
///
/////dexieme partie
.infosCompte{
  margin-left: 2%;
  margin-right: 2%;
  display: grid;
  margin-bottom: 5%;
  grid-template-rows: auto auto;
  row-gap: 8%;
  color: #fff;
}

.infosCompte>  .ptConseil{
  display: flex;
  flex-direction: row;
//   grid-template-columns: 58% 40%;
//   column-gap: 2%;
}

.ptConseil >div, .nmbre >div{
  border-radius: 30px;
  display: grid;
  grid-template-columns: 50% 50%;
  padding-top: 5px;

}


.ptConseil >div >#nombre,.nmbre>div >#nombre{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: auto;
}

.ptConseil >div >#nombre>#number,.nmbre>div >#nombre>#number{
  font-size: 10vw;
  font-weight: bold;
  margin: 0;
}

.ptConseil >div >#nombre>#name,.nmbre>div >#nombre>#name{
  font-size: 2vw;
  margin: 0;
}

.ptConseil >div >#imgpt,.nmbre>div >#imgpt{

}

.nomGame{
  font-size: 6vw;
}



.infosCompte>  .nmbre{
  display: grid;
  grid-template-columns: 49% 49%;
  column-gap: 2%;
}

.tulonPoint{
  background-color: #3779FF;
}

.conseil{
  background-color: #BB7676;
}

.gamePlayed{
  background-color: #FF981F;

}

.timePlayed{
  background-color: #F75555;
}

#imgpt >img{
  height: 15vh;
}
///////profile
