<div class="conaint">
  <div class="c-card mb-4">
    <div class="cd">
        <div class="cd-left text-center w-50">
          <i class="fa-solid fa-gamepad"></i>
          <div class="cd-text">
              Jeux
          </div>
        </div>
        <div class="ctn w-50">
            <div class="ctn-content" >200</div>
        </div>
    </div>
    <div class="cd">
        <div class="ctn w-50">
            <div class="ctn-content" >{{nbreCitoyen}}</div>
        </div>
        <div class="cd-left text-center w-50 ">
          <i class="fa-sharp fa-solid fa-users"></i>
          <div class="cd-text">
            Citoyens
          </div>
        </div>
    </div>
    <div class="cd"  data-bs-toggle="modal" data-bs-target="#addAgentModal">
      <div class="cd-left text-center w-50">
          <i class="fa-sharp fa-solid fa-user-gear"></i>
          <div class="cd-text">
              Admins
          </div>
        </div>
        <div class="ctn w-50">
          <div class="ctn-content" >{{nbreAdmin}}</div>
        </div>
    </div>
  </div>
</div>
