<div class="containt">
  <div class="c-card mb-4">
    <div class="cd">
        <div class="cd-left text-center w-50">
          <i class="fa-solid fa-plus"></i>

        </div>
        <div class="ctn w-50">
          Ajouter Jeu
        </div>
    </div>



    <div class="cd">
      <div class="ctn w-50">
          <div class="ctn-content" >{{nbreJeu}}</div>
      </div>
      <div class="cd-left text-center w-50 ">
        <i class="fa-solid fa-gamepad"></i>
        <div class="cd-text">
          Jeux disponibles
        </div>
      </div>
  </div>
  </div>


  <div class="partiGraphe mb-4">
  </div>

</div>
