<div class="containt">
  <div class="c-card mb-4">
    <div class="cd">
        <div class="cd-left text-center w-50">
          <i class="fa-solid fa-plus"></i>

        </div>
        <div class="ctn w-50">
          Ajouter Jeu
        </div>
    </div>



    <div class="cd">
      <div class="ctn w-50">
          <div class="ctn-content" >{{nbreJeu}}</div>
      </div>
      <div class="cd-left text-center w-50 ">
        <i class="fa-solid fa-gamepad"></i>
        <div class="cd-text">
          Jeux disponibles
        </div>
      </div>
  </div>
  </div>

  <div class="rechercheParti form-floating mb-4">
    <input type="search" class="form-control" placeholder="Rechercher un jeu" [(ngModel)]="recherche">
  </div>



  <div class="partiList listPreference mb-4">


    <div class="preference ">
      <div class="imageEntete">
        <img src="assets/images/moi.jpg" alt="">
      </div>

      <div class="foot">

        <div class="game" >
          <div class="imageGame">
            <img src="assets/images/moi.jpg" alt="">
          </div>

          <div class="infosPlay">
            <div></div>

            <div class="nomGame">
              <label for="">Game Name</label>

            </div>

            <div id="likePlay">
              <button class="liked">
                2500
                <i class="fa-solid fa-thumbs-up"></i>
              </button>

              <button class="played">
                500
                <i class="fa-sharp fa-solid fa-circle-play"></i>
              </button>
            </div>
          </div>

          <!--<div class="btnPlay">
            <button id="goPlay">
              Jouer
            </button>
          </div>-->
        </div>
      </div>

    </div>

    <div class="preference ">
      <div class="imageEntete">
        <img src="assets/images/moi.jpg" alt="">
      </div>

      <div class="foot">

        <div class="game" >
          <div class="imageGame">
            <img src="assets/images/moi.jpg" alt="">
          </div>

          <div class="infosPlay">
            <div></div>

            <div class="nomGame">
              <label for="">Game Name</label>

            </div>

            <div id="likePlay">
              <button class="liked">
                2500
                <i class="fa-solid fa-thumbs-up"></i>
              </button>

              <button class="played">
                500
                <i class="fa-sharp fa-solid fa-circle-play"></i>
              </button>
            </div>
          </div>

          <!--<div class="btnPlay">
            <button id="goPlay">
              Jouer
            </button>
          </div>-->
        </div>
      </div>

    </div>

    <div class="preference ">
      <div class="imageEntete">
        <img src="assets/images/moi.jpg" alt="">
      </div>

      <div class="foot">

        <div class="game" >
          <div class="imageGame">
            <img src="assets/images/moi.jpg" alt="">
          </div>

          <div class="infosPlay">
            <div></div>

            <div class="nomGame">
              <label for="">Game Name</label>

            </div>

            <div id="likePlay">
              <button class="liked">
                2500
                <i class="fa-solid fa-thumbs-up"></i>
              </button>

              <button class="played">
                500
                <i class="fa-sharp fa-solid fa-circle-play"></i>
              </button>
            </div>
          </div>

          <!--<div class="btnPlay">
            <button id="goPlay">
              Jouer
            </button>
          </div>-->
        </div>
      </div>

    </div>

    <div class="preference ">
      <div class="imageEntete">
        <img src="assets/images/moi.jpg" alt="">
      </div>

      <div class="foot">

        <div class="game" >
          <div class="imageGame">
            <img src="assets/images/moi.jpg" alt="">
          </div>

          <div class="infosPlay">
            <div></div>

            <div class="nomGame">
              <label for="">Game Name</label>

            </div>

            <div id="likePlay">
              <button class="liked">
                2500
                <i class="fa-solid fa-thumbs-up"></i>
              </button>

              <button class="played">
                500
                <i class="fa-sharp fa-solid fa-circle-play"></i>
              </button>
            </div>
          </div>

          <!--<div class="btnPlay">
            <button id="goPlay">
              Jouer
            </button>
          </div>-->
        </div>
      </div>

    </div>

    <div class="preference">
      <div class="imageEntete">
        <img src="assets/images/moi.jpg" alt="">
      </div>

      <div class="foot">

        <div class="game" >
          <div class="imageGame">
            <img src="assets/images/moi.jpg" alt="">
          </div>

          <div class="infosPlay">
            <div></div>

            <div class="nomGame">
              <label for="">Game Name</label>

            </div>

            <div id="likePlay">
              <button class="liked">
                2500
                <i class="fa-solid fa-thumbs-up"></i>
              </button>

              <button class="played">
                500
                <i class="fa-sharp fa-solid fa-circle-play"></i>
              </button>
            </div>
          </div>

          <!--<div class="btnPlay">
            <button id="goPlay">
              Jouer
            </button>
          </div>-->
        </div>
      </div>

    </div>

  </div>

</div>
